body {
  margin: 0;
  font-family: 'Caveat-Variable';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Caveat-Variable';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Caveat-VariableFont_wght.ttf') format('truetype');
}
